body{
    font-family: 'Lobster',sans-serif;
    overflow-x: hidden;
    background: white;
}

#top-bar{
    background: #E3D888;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 6px 10px -7px #5a3a31;
}

#top-bar-elements{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

#top-bar-elements h1 {
    font-size: 140%;
    padding-top: 10%;
    text-decoration: none;
}

#top-bar-elements * {
    display: inline-block;
    color: #84714F;
}

#top-bar-elements #login{
    padding-top: 25px;
}

#top-bar-elements #logon{
    padding-right: 30px;
    padding-top: 25px;
    width: 30%;
}

#top-bar-elements h1 a{
    float: left;
    padding-left: 10px;
    padding-bottom: 20px;
    color: #5a3a31;
    text-decoration: none;
}

#top-bar-elements h1 a:hover{
    text-shadow: 2px 2px #e2f1af;
}

#top-bar-elements h1 {
    width: 20%;
}

#top-bar-elements input[type=submit]{
    background-color: white;
    border: 3px solid #84714F;
    border-radius: 4px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    height: 40px;
    width: 120px;
    font-family: 'Lobster', sans-serif;
    color: #84714F;
}

#top-bar-elements #top-buttons input[type=submit]:hover{
    background-color: #84714F;
    color: white;
}
#top-bar-elements #top-buttons #login #user-name button{
    color: #84714F;
    background-color: #E3D888;
	border-style: none;
	border-color: #E3D888;
	cursor: pointer;
    font-family: 'Lobster', sans-serif;
	margin-right: 10px;
	font-size: 24px;
}

#top-bar-elements #top-buttons #login #user-name button:hover {
    color: #5A3A31;
}


#top-bar-elements #top-buttons #login #user-name img{
    border-radius: 50%;
	margin: 0px;
	padding: 0px;
	width: 30px;
    color: white;
}

#top-bar-elements input[type=button]{
    background-color: #84714F;
    border: 3px solid #84714F;
    border-radius: 4px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    height: 40px;
    width: 120px;
    font-family: 'Lobster', sans-serif;
    color: white;
}

#top-bar-elements #top-buttons input[type=button]:hover{
    background-color: white;
    color: #84714F;
}

#top-bar-elements #user-name a{
    padding-right: 15px;
    font-size: 24px;
    text-decoration: none;
}

#top-bar-elements #user-name a:hover{
    color: #5A3A31;
}

#top-bar-elements #search{
    width: 50%;
    display: inline-block;
}


#top-bar-elements #search form{
    margin-top: 25px;
    padding-left: 25%;
    width: 60%;
}

#top-bar-elements #search input[type=text]{
    background-color: white;
    border: 3px solid #84714F;
    border-radius: 4px;
    height: 30px;
    min-width: 100px;
    font-family: 'Lobster', sans-serif;
    color: #84714F;
}

#top-bar-elements #search #searchLocal {
    width: 25%;
}

#top-bar-elements #search #searchRestaurant {
    width: 40%;
}

#top-bar-elements #search input[type=submit]{
    background-color: #84714F;
    border: 3px solid #84714F;
    border-radius: 4px;
    height: 36px;
    width: 15%;
    min-width: 80px;
    font-family: 'Lobster', sans-serif;
    color: white;
}

#top-bar-elements #search input[type=submit]:hover{
    background-color: white;
    color: #84714F;
}


.overlayLogon{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
}

#overlay-logon{
    width: 550px;
    height: 750px;
    line-height: 150px;
    margin-top: 20%;
    background-color: #E3D888;
    border-radius: 5px;
    z-index: 11;
}

#overlay-logon #register-box{
    text-align: center;
    color: #5a3a31;
    text-shadow: 2px 2px #e2f1af;
    font-size: 25px;
}

#overlay-logon input{
    border: 3px solid #84714F;
    height: 25px;
    border-radius: 3px;
    font-size: 18px;
    padding-top: 2px;
    margin: 0.2em;
    margin-bottom: 0.8em;
    display: block;
    margin-left: 140px;
}

#overlay-logon input[type=submit]{
    border: 3px solid #5a3a31;
    height: 50px;
    width: 180px;
    border-radius: 3px;
    font-size: 25px;
    padding-bottom: 4px;
    margin: 0.2em;
    margin-top: 2em;
    display: block;
    margin-left: 175px;
    color: #e2f1af;
    background-color: #5a3a31;
    font-family: 'Lobster', sans-serif;
}

#overlay-logon input[type=submit]:hover {
    background-color: white;
    color: #5a3a31;
}

#overlay-logon #output-logon {
    display: flex;
    justify-content: center;
}

.overlayLogin{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
}

#overlay-login{
    width: 550px;
    height: 600px;
    line-height: 150px;
    margin-top: 20%;
    background-color: #E3D888;
    border-radius: 5px;
    z-index: 11;
}

#overlay-login #register-box{
    text-align: center;
    color: #5a3a31;
    text-shadow: 2px 2px #e2f1af;
    font-size: 25px;
}

#overlay-login input{
    border: 3px solid #84714F;
    height: 25px;
    border-radius: 3px;
    font-size: 18px;
    padding-top: 2px;
    margin: 0.2em;
    margin-bottom: 0.8em;
    display: block;
    margin-left: 140px;
}

#overlay-login input[type=submit]{
    border: 3px solid #5a3a31;
    height: 50px;
    width: 180px;
    border-radius: 3px;
    font-size: 25px;
    padding-bottom: 4px;
    margin: 0.2em;
    margin-top: 2em;
    display: block;
    margin-left: 175px;
    color: #e2f1af;
    background-color: #5a3a31;
    font-family: 'Lobster', sans-serif;
}

#overlay-login input[type=submit]:hover {
    background-color: white;
    color: #5a3a31;
}