body{
    font-family: 'Lobster',sans-serif;
}

#top-bar{
    background: #E3D888;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 6px 10px -7px #5a3a31;
}

#top-bar-elements{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

#top-bar-elements h1 {
    margin-top: 10px;
}

#top-bar-elements * {
    display: inline-block;
    color: #84714F;
}

#top-bar-elements #login{
    padding-top: 25px;
}

#top-bar-elements #logon{
    padding-right: 30px;
    padding-top: 25px;
}

#top-bar-elements h1{
    float: left;
    padding-left: 10px;
    padding-bottom: 20px;
    color: #5a3a31;
    text-shadow: 2px 2px #e2f1af;
}

#top-bar-elements input[type=submit]{
    background-color: white;
    border: 3px solid #84714F;
    border-radius: 4px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    height: 40px;
    width: 120px;
    font-family: 'Lobster', sans-serif;
    color: #84714F;
}

#top-bar-elements #top-buttons input[type=submit]:hover{
    background-color: #84714F;
    color: white;
}


#top-bar-elements input[type=button]{
    background-color: white;
    border: 3px solid #84714F;
    border-radius: 4px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    height: 40px;
    width: 120px;
    font-family: 'Lobster', sans-serif;
    color: #84714F;
}

#top-bar-elements #top-buttons input[type=button]:hover{
    background-color: #84714F;
    color: white;
}

#middle img{
    width: 100%;
    height: 80%;
}

#middle-elements{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -40%;
    height: 200px;
}

#middle-elements #search-bar img{
    height: 80%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
}

#middle-elements input[type=text]{
    border: 3px solid #84714F;
    height: 50px;
    border-radius: 4px;
    font-size: 20px;
}

#middle-elements #search-bar #searchLocal{
    background-image: url('../res/localIcon.png');
    background-size: 30px 30px;
    background-position: 5px;
    background-repeat: no-repeat;
    width: 180px;
    padding-left: 40px;
}
#middle-elements #search-bar #searchRestaurant{
    background-image: url('../res/foodIcon.png');
    background-size: 30px 30px;
    background-position: 5px;
    background-repeat: no-repeat;
    width: 400px;
    padding-left: 40px;
}

#middle-elements input[type=submit]{
    border: 3px solid #84714F;
    height: 55px;
    width: 55px;
    background-image: url('../res/searchIcon.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.overlayLogon{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
}

#overlay-logon{
    width: 550px;
    height: 750px;
    line-height: 150px;
    margin-top: 20%;
    background-color: #E3D888;
    border-radius: 5px;
    z-index: 11;
}

#overlay-logon #register-box{
    text-align: center;
    color: #5a3a31;
    text-shadow: 2px 2px #e2f1af;
    font-size: 25px;
}

#overlay-logon input{
    border: 3px solid #84714F;
    height: 25px;
    border-radius: 3px;
    font-size: 18px;
    padding-top: 2px;
    margin: 0.2em;
    margin-bottom: 0.8em;
    display: block;
    margin-left: 140px;
}

#overlay-logon input[type=submit]{
    border: 3px solid #5a3a31;
    height: 50px;
    width: 180px;
    border-radius: 3px;
    font-size: 25px;
    padding-bottom: 4px;
    margin: 0.2em;
    margin-top: 2em;
    display: block;
    margin-left: 175px;
    color: #e2f1af;
    background-color: #5a3a31;
    font-family: 'Lobster', sans-serif;
}

.overlayLogin{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
}

#overlay-login{
    width: 550px;
    height: 600px;
    line-height: 150px;
    margin-top: 20%;
    background-color: #E3D888;
    border-radius: 5px;
    z-index: 11;
}

#overlay-login #register-box{
    text-align: center;
    color: #5a3a31;
    text-shadow: 2px 2px #e2f1af;
    font-size: 25px;
}

#overlay-login input{
    border: 3px solid #84714F;
    height: 25px;
    border-radius: 3px;
    font-size: 18px;
    padding-top: 2px;
    margin: 0.2em;
    margin-bottom: 0.8em;
    display: block;
    margin-left: 140px;
}

#overlay-login input[type=submit]{
    border: 3px solid #5a3a31;
    height: 50px;
    width: 180px;
    border-radius: 3px;
    font-size: 25px;
    padding-bottom: 4px;
    margin: 0.2em;
    margin-top: 2em;
    display: block;
    margin-left: 175px;
    color: #e2f1af;
    background-color: #5a3a31;
    font-family: 'Lobster', sans-serif;
}