#middle img{
    width: 100%;
    height: 80%;
}

#middle-elements{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -40%;
    height: 200px;
}

#middle-elements #search-bar img {
    height: 80%;
    width: 80%;
    margin-left: 10%;
    padding-top: 18%;
    padding-bottom: 10%;
}

#middle-elements input[type=text]{
    border: 3px solid #84714F;
    height: 50px;
    border-radius: 4px;
    font-size: 20px;
}

#middle-elements #search-bar #searchLocal{
    background-image: url('../res/localIcon.png');
    background-size: 30px 30px;
    background-position: 5px;
    background-repeat: no-repeat;
    width: 180px;
    padding-left: 40px;
}
#middle-elements #search-bar #searchRestaurant{
    background-image: url('../res/foodIcon.png');
    background-size: 30px 30px;
    background-position: 5px;
    background-repeat: no-repeat;
    width: 400px;
    padding-left: 40px;
}

#middle-elements #search-bar{
	list-style-type: none;
	display: block;
}

#middle-elements #search-bar li{
	display: inline;
	margin-right: 5%;
}

#middle-elements #search-bar li button{
	background-color: white;
	color: #84714F;
	font-weight: bold;
	
	border-style: solid;
	border-color: #84714F;
	border-radius: 4px;
	
	cursor: pointer;
	
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

#middle-elements #search-bar li button:hover{
    background-color: #84714F;
    color: white;
	border-color:white;
}

#middle-elements #search-bar li button:active{
    background-color: #5A3A31;
    color: #E3D888;
	border-color:#5A3A31;
}

#middle-elements input[type=submit]{
    border: 3px solid #84714F;
    height: 55px;
    width: 55px;
    background-image: url('../res/searchIcon.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    border-radius: 4px;
}

#middle #quick-search {
    margin-top: 80%;
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#middle #quick-search input[type=submit]{
    height: 150px;
    width: 150px;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 50%;
    background-size: 150px 150px;
    background-repeat: no-repeat;
}

#middle #quick-search #fast-food {
    background-image: url('../res/fastFood.png');
}

#middle #quick-search #cafe {
    background-image: url('../res/cafe.png');
}

#middle #quick-search #pastelaria {
    background-image: url('../res/pastelaria.png');
}

#middle #quick-search #beber {
    background-image: url('../res/beberCopo.png');
}

#middle #quick-search #gourmet {
    background-image: url('../res/gourmet.png');
}

#middle #quick-search input[type=submit]:hover{
    border: 4px solid #5A3A31;
}