body{
	/* display: inline; */
}


#side_bar{
	margin-right: 100px;
	margin-top: 100px;
	width: 150px;
	display: block;
	float: left;
	background: #E3D888;
	border: #E3D888;
	border-radius: 3px;
	padding-left: 50px;
}


#side_bar #types button{
	display: block;
	margin-left: 5px;
	border-radius: 50%;
	background-color: #E3D888;
	border: none;
}

#side_bar #types button img{
	width: 50px;
	height: auto;
}

#down_part{
	width: 100px;
}

#down-part #restaurants{
	margin: auto;
	margin-top: 100px;
	width: 500px;
	/* float: right; */
	/* margin-right: 400px; */
	position: absolute;
	right: 450px;
}

#down-part .restaurants{
	background: #E3D888;
	border: #E3D888;
	border-radius: 3px;
	padding-bottom: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

#down-part .restaurants h1{
	color: #5A3A31;
}

#down-part #restaurants .restaurants button{
    border: 3px solid #84714F;
    border-radius: 4px;
    font-family: 'Lobster', sans-serif;
    background-color: white;
    color: #84714F;
	float: right;
	margin-top: 2%;
}

#down-part #restaurants .restaurants button:hover{
	border-color:#5A3A31;
	color: #5A3A31;
}

#down-part #restaurants .restaurants button img{
	/* width: 240px; */
	width: auto;
	height: 144px;
}