#middle {
    margin-top: 8%;
    width: 85%;
    height: 400px;
    margin-left: 7.5%;
    display: flex;
    justify-content: center;
    background: radial-gradient(#e2f1af,#E3D888);
    border-radius: 6px;
}

#middle #profile-img{
    height: 300px;
    width: 300px;
    margin-right: 10%;
    margin-top: 20%;
}

#middle img{
    width: 80%;
    height: 80%;
    max-height: 225px;
    max-width: 225px;
    border-radius: 50%;
}

#middle #profile-img #changeProfilePic input[type=button]{
    margin-left: 19%;
	background-color: white;
	color: #84714F;
    border: 3px solid #5a3a31;
    border-radius: 4px;
}
#middle #profile-img #changeProfilePic input[type=button]:hover{
	border-color:#5A3A31;
	color: #5A3A31;
}

#middle #user-info{
    color: #5a3a31;
    font-family: 'Oswald', sans-serif;
    font-size: 150%;
}

#middle #user-info #personal-info{
    padding-top: 30%;
}

#middle #user-info #personal-info *{
    padding-top: 5%;
}

#down-part {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-right: 7.5%;
    padding-left: 7.5%;
}

#down-part #restaurants{
    height: 1000px;
    width: 75%;
    background: radial-gradient(#e2f1af,#E3D888);
}

#down-part #options{
    height: 350px;
    background: radial-gradient(#e2f1af,#E3D888);
    border-radius: 6px;
    width: 20%;
    max-width: 450px;
}

#down-part #options * {
    height: 15%;
    width: 80%;
    padding-left: 10%;
    padding-bottom: 5%;
}

#down-part #options #title-options {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-size: 200%;
    padding-bottom: 8%;
}

#down-part #options input[type=button]{
    background-color: #84714F;
    border: 3px solid #5a3a31;
    border-radius: 4px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    font-family: 'Lobster', sans-serif;
    color: white;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    font-size: 18px;
}

#down-part #options input[type=button]:hover{
    background-color: white;
    color: #84714F;
}

.overlayChangePassword{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
}

.overlayChangeProfilePic{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
}

#overlay-changePic{
    width: 550px;
    height: 750px;
    line-height: 150px;
    margin-top: 20%;
    background-color: #E3D888;
    border-radius: 5px;
    z-index: 11;
}

#overlay-changePassword{
    width: 550px;
    height: 750px;
    line-height: 150px;
    margin-top: 20%;
    background-color: #E3D888;
    border-radius: 5px;
    z-index: 11;
}

#overlay-changePassword #changePassword{
    text-align: center;
    color: #5a3a31;
    text-shadow: 2px 2px #e2f1af;
    font-size: 25px;
}

#overlay-changePassword input{
    border: 3px solid #84714F;
    height: 25px;
    border-radius: 3px;
    font-size: 18px;
    padding-top: 2px;
    margin: 0.2em;
    margin-bottom: 0.8em;
    display: block;
    margin-left: 140px;
}

#overlay-changePassword input[type=submit]{
    border: 3px solid #5a3a31;
    height: 50px;
    width: 180px;
    border-radius: 3px;
    font-size: 25px;
    padding-bottom: 4px;
    margin: 0.2em;
    margin-top: 2em;
    display: block;
    margin-left: 175px;
    color: #e2f1af;
    background-color: #5a3a31;
    font-family: 'Lobster', sans-serif;
}

#overlay-changePassword input[type=submit]:hover {
    background-color: white;
    color: #5a3a31;
}

#overlay-changePassword #output-changePassword {
    display: flex;
    justify-content: center;
}

#down-part #restaurants button{
    border: 3px solid #84714F;
    border-radius: 4px;
    font-family: 'Lobster', sans-serif;
    background-color: white;
    color: #84714F;
	margin-right: 1%;
}

#down-part #restaurants button:hover{
	border-color:#5A3A31;
	color: #5A3A31;
}

#down-part #restaurants button img{
	width: 360px;
	height: auto;
}
