#middle {
    margin-top: 10%;
    width: 85%;
    height: 80%;
    margin-left: 7.5%;
    display: flex;
    justify-content: center;
    background: radial-gradient(#e2f1af,#E3D888);
    border-radius: 6px;
}

#middle #profile-img {
    height: 300px;
    width: 300px;
    margin-right: 10%;
}

#middle #profile-img #img-and-button{
    padding-left: 2%;
    padding-top: 10%;
}

#middle #profile-img #img-and-button img{
    width: 80%;
    height: 80%;
    max-height: 225px;
    max-width: 225px;
    border-radius: 50%;
}
#middle #profile-img #changeProfilePic {
    padding-top: 2%;
}

#middle #profile-img #changeProfilePic input[type=button]{
    margin-left: 19%;
	background-color: white;
	color: #84714F;
    border: 3px solid #5a3a31;
    border-radius: 4px;
}
#middle #profile-img #changeProfilePic input[type=button]:hover{
	border-color:#5A3A31;
	color: #5A3A31;
}

#middle #user-info{
    color: #5a3a31;
    font-family: 'Oswald', sans-serif;
    font-size: 150%;
}

#middle #user-info #personal-info{
    padding-top: 30%;
}

#middle #user-info #personal-info *{
    padding-top: 5%;
}

#down-part {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-right: 7.5%;
    padding-left: 7.5%;
}

#down-part #restaurants{
    width: 75%;
    display: flex;
    justify-content: center;
}

#down-part #restaurants p{
    font-size: 200%;
    color: #5A3A31;
}

#down-part #options{
    height: 350px;
    background: radial-gradient(#e2f1af,#E3D888);
    border-radius: 6px;
    width: 20%;
    max-width: 450px;
}

#down-part #options * {
    height: 15%;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

#down-part #options #title-options {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-size: 200%;
    padding-bottom: 8%;
    color: #5A3A31;
}

#down-part #options input[type=button]{
    background-color: #84714F;
    border: 3px solid #5a3a31;
    border-radius: 4px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    font-family: 'Lobster', sans-serif;
    color: white;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    font-size: 85%;
}

#down-part #options input[type=button]:hover{
    background-color: white;
    color: #5A3A31;
}

.overlayChangePassword{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
}

.overlayChangeName{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
}

.overlayChangeEmail{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
}

.overlayChangeBirthday{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
}

.overlayEditProfile{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
}

.overlayChangeProfilePic{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
}

#overlay-changePic{
    width: 550px;
    height: 750px;
    line-height: 150px;
    margin-top: 20%;
    background-color: #E3D888;
    border-radius: 5px;
    z-index: 11;
}

#overlay-changePassword{
    width: 450px;
    height: 600px;
    line-height: 150px;
    margin-top: 20%;
    background-color: #E3D888;
    border-radius: 5px;
    z-index: 11;
}

#overlay-changeName{
    width: 550px;
    height: 750px;
    line-height: 150px;
    margin-top: 20%;
    background-color: #E3D888;
    border-radius: 5px;
    z-index: 11;
}

#overlay-changeEmail{
    width: 550px;
    height: 750px;
    line-height: 150px;
    margin-top: 20%;
    background-color: #E3D888;
    border-radius: 5px;
    z-index: 11;
}

#overlay-changeBirthday{
    width: 550px;
    height: 750px;
    line-height: 150px;
    margin-top: 20%;
    background-color: #E3D888;
    border-radius: 5px;
    z-index: 11;
}

#overlay-EditProfile{
    width: 550px;
    height: 750px;
    line-height: 150px;
    margin-top: 20%;
    background-color: #E3D888;
    border-radius: 5px;
    z-index: 11;
}

#overlay-changePassword #changePassword{
    text-align: center;
    color: #5a3a31;
    text-shadow: 2px 2px #e2f1af;
    font-size: 25px;
}

#overlay-changeName #changeName{
    text-align: center;
    color: #5a3a31;
    text-shadow: 2px 2px #e2f1af;
    font-size: 25px;
}

#overlay-changeEmail #changeEmail{
    text-align: center;
    color: #5a3a31;
    text-shadow: 2px 2px #e2f1af;
    font-size: 25px;
}

#overlay-changeBirthday #changeBirthday{
    text-align: center;
    color: #5a3a31;
    text-shadow: 2px 2px #e2f1af;
    font-size: 25px;
}

#overlay-EditProfile #editProfile{
    text-align: center;
    color: #5a3a31;
    text-shadow: 2px 2px #e2f1af;
    font-size: 25px;
}

#overlay-changePassword input{
    border: 3px solid #84714F;
    height: 25px;
    border-radius: 3px;
    font-size: 18px;
    padding-top: 2px;
    margin: 0.2em;
    margin-bottom: 0.8em;
    display: block;
    margin-left: 18%;
}

#overlay-changeName input{
    border: 3px solid #84714F;
    height: 25px;
    border-radius: 3px;
    font-size: 18px;
    padding-top: 2px;
    margin: 0.2em;
    margin-bottom: 0.8em;
    display: block;
    margin-left: 140px;
}

#overlay-changeEmail input{
    border: 3px solid #84714F;
    height: 25px;
    border-radius: 3px;
    font-size: 18px;
    padding-top: 2px;
    margin: 0.2em;
    margin-bottom: 0.8em;
    display: block;
    margin-left: 140px;
}

#overlay-changeBirthday input{
    border: 3px solid #84714F;
    height: 25px;
    border-radius: 3px;
    font-size: 18px;
    padding-top: 2px;
    margin: 0.2em;
    margin-bottom: 0.8em;
    display: block;
    margin-left: 140px;
}

#overlay-changePassword input[type=submit]{
    border: 3px solid #5a3a31;
    height: 50px;
    width: 180px;
    border-radius: 3px;
    font-size: 25px;
    padding-bottom: 4px;
    margin: 0.2em;
    margin-top: 2em;
    display: block;
    margin-left: 30%;
    color: #e2f1af;
    background-color: #5a3a31;
    font-family: 'Lobster', sans-serif;
}

#overlay-changeName input[type=submit]{
    border: 3px solid #5a3a31;
    height: 50px;
    width: 180px;
    border-radius: 3px;
    font-size: 25px;
    padding-bottom: 4px;
    margin: 0.2em;
    margin-top: 2em;
    display: block;
    margin-left: 175px;
    color: #e2f1af;
    background-color: #5a3a31;
    font-family: 'Lobster', sans-serif;
}

#overlay-changeEmail input[type=submit]{
    border: 3px solid #5a3a31;
    height: 50px;
    width: 180px;
    border-radius: 3px;
    font-size: 25px;
    padding-bottom: 4px;
    margin: 0.2em;
    margin-top: 2em;
    display: block;
    margin-left: 175px;
    color: #e2f1af;
    background-color: #5a3a31;
    font-family: 'Lobster', sans-serif;
}

#overlay-changeBirthday input[type=submit]{
    border: 3px solid #5a3a31;
    height: 50px;
    width: 180px;
    border-radius: 3px;
    font-size: 25px;
    padding-bottom: 4px;
    margin: 0.2em;
    margin-top: 2em;
    display: block;
    margin-left: 175px;
    color: #e2f1af;
    background-color: #5a3a31;
    font-family: 'Lobster', sans-serif;
}

#overlay-EditProfile input[type=button]{
    border: 3px solid #5a3a31;
    height: 50px;
    width: 180px;
    border-radius: 3px;
    font-size: 25px;
    padding-bottom: 4px;
    margin: 0.2em;
    margin-top: 2em;
    display: block;
    margin-left: 175px;
    color: #e2f1af;
    background-color: #5a3a31;
    font-family: 'Lobster', sans-serif;
}


#overlay-changePassword input[type=submit]:hover {
    background-color: white;
    color: #5a3a31;
}

#overlay-changeName input[type=submit]:hover {
    background-color: white;
    color: #5a3a31;
}

#overlay-changeEmail input[type=submit]:hover {
    background-color: white;
    color: #5a3a31;
}

#overlay-changeBirthday input[type=submit]:hover {
    background-color: white;
    color: #5a3a31;
}

#overlay-EditProfile input[type=button]:hover {
    background-color: white;
    color: #5a3a31;
}

#overlay-changePassword #output-changePassword {
    display: flex;
    justify-content: center;
}

#overlay-changeName #output-changeName {
    display: flex;
    justify-content: center;
}

#overlay-changeEmail #output-changeEmail {
    display: flex;
    justify-content: center;
}

#overlay-changeBirthday #output-changeBirthday {
    display: flex;
    justify-content: center;
}

#down-part #restaurants button{
    border: 3px solid #84714F;
    border-radius: 4px;
    font-family: 'Lobster', sans-serif;
    background-color: white;
    color: #84714F;
	margin-right: 1%;
}

#down-part #restaurants button:hover{
	border-color:#5A3A31;
	color: #5A3A31;
}

#down-part #restaurants button img{
	width: 360px;
	height: auto;
}

#overlay-changePic{
    width: 450px;
    height: 600px;
    line-height: 150px;
    margin-top: 20%;
    background-color: #E3D888;
    border-radius: 5px;
    z-index: 11;
}

#overlay-changePic #changePic{
    display: flex;
    justify-content: center;
    font-size: 180%;
    color: #5A3A31;
}

#overlay-changePic input{
    border: 3px solid #84714F;
    height: 25px;
    border-radius: 3px;
    font-size: 18px;
    padding-top: 2px;
    margin: 0.2em;
    margin-bottom: 0.8em;
    display: block;
    margin-left: 10%;
}

#overlay-changePic button[type=submit]{
    font-family: 'Lobster', sans-serif;
    background-color: #84714F;
    border: 3px solid #5A3A31;
    color: white;
    height: 40px;
    border-radius: 3px;
    font-size: 18px;
    padding-top: 2px;
    margin: 0.2em;
    margin-top: 2em;
    display: block;
    margin-left: 35%;
}

.overlayCreateRestaurant{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
}

#overlay-createRestaurant {
    width: 600px;
    height: 1000px;
    line-height: 150px;
    margin-top: 20%;
    background-color: #E3D888;
    border-radius: 5px;
    z-index: 11;
}

#overlay-createRestaurant #createRestaurant{
    font-size: 150%;
    display: flex;
    justify-content: center;
    color: #5A3A31;
}

#overlay-createRestaurant input{
    border: 3px solid #84714F;
    height: 25px;
    border-radius: 3px;
    font-size: 18px;
    padding-top: 2px;
    margin: 0.2em;
    margin-bottom: 0.8em;
    display: block;
    margin-left: 10%;
    width: 80%;
}

#overlay-createRestaurant #restaurant-description{
    height: 300px;
}

#overlay-createRestaurant input[type=submit]{
    border: 3px solid #5a3a31;
    height: 50px;
    width: 180px;
    border-radius: 3px;
    font-size: 25px;
    padding-bottom: 4px;
    margin: 0.2em;
    margin-top: 2em;
    display: block;
    margin-left: 35%;
    color: #e2f1af;
    background-color: #5a3a31;
    font-family: 'Lobster', sans-serif;
}

#overlay-createRestaurant input[type=submit]:hover {
    background-color: white;
    color: #5a3a31;
}